html {
  /* 1rem = 10px */
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
p{
  margin: 0;
}


.App {
  width: 40rem;
  margin: 0 auto;
  margin-top: 10rem;
  text-align: center;
}

.playersCount{
  display: flex;
  justify-content: space-between;
}